
.about{

    &__container {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        column-gap: 4rem;
    }

    &__img {
        justify-self: center;
    }

    &__title {
        margin-bottom: $mb-2-5;
    }

    &__descritpion {
        margin-bottom: $mb-2;
        text-align: justify;
    }
}



@media screen and (max-width: 992px) {
    .about{
        &__container {
            grid-template-columns: 1fr;
            row-gap: 2.5rem;
            text-align: center;
        }
        &__title {
            margin-bottom: $mb-2;
        }

        &__descritpion {
            padding: 0 2rem;
            margin-bottom: 2rem;
        }
    }

}

@media screen and (max-width: 576px) {
    .about__descritpion {
        padding: 1rem;
    }
}