.about {
  &__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 4rem;
  }

  &__img {
    justify-self: center;
  }

  &__title {
    margin-bottom: $mb-1;
  }
  &__subtitle {
    font-size: $h3-font-size;
    font-style: italic;
    margin-bottom: $mb-0-5;
    font-weight: bold;
  }

  &__descritpion {
    margin-bottom: $mb-2;
    text-align: justify;
  }
}

@media screen and (max-width: 992px) {
  .about {
    &__container {
      grid-template-columns: 1fr;
      row-gap: 2.5rem;
      text-align: center;
    }
    &__title {
      margin-bottom: $mb-2;
    }

    &__descritpion {
      padding: 0 2rem;
      margin-bottom: 2rem;
    }
  }
}

@media screen and (max-width: 576px) {
  .about__descritpion {
    padding: 1rem;
  }
}

// .underline {
//     position: relative;

//     &:before {
//       width: 20%;
//       height: 0.3rem;
//       position: absolute;
//       background: $title-color;
//       content: "";
//       left: 50%;
//       bottom: -0.5rem;
//       border-radius: 0.3rem;
//       transform-origin: left center;
//     }

//     &--bounce:before {

//       animation: bouncey-line 1s ease-in-out infinite alternate;
//     }
//   }

//   @keyframes bouncey-line {
//     0% {
//       transform: translateX(100vw) scaleX(2);
//     }
//     50% {
//       transform: translateX(0) scaleX(0.5);
//     }
//     to {
//       transform: scaleX(1);
//     }
//   }
