
.process__title{
    display: inline;
    
}

.process__container{
    grid-template-columns: repeat(3, 350px);
    justify-content: center;
    gap: 3rem;
    

}

.process__content{
    padding: 10px 15px;
}

.process__icons{
    font-size: 2rem;
    margin-right: 10px;
    color: $text-color;
}


@media screen and (max-width: 992px) {
  
    .process__container{
        grid-template-columns: repeat(2, 270px);
    }

}

@media screen and (max-width: 768px) {
    .process__container{
        grid-template-columns: 1fr;
    }
}