// .service{
//     height: 130vh;
// }



.service__container{
    grid-template-columns: repeat(3, 20rem);
    justify-content: center;
    gap: 3rem;
    margin-top: 4rem;
    

}

.service__content{
    text-align: center;
    background-color: $second-color;
    padding: 10px 15px;
}

.service__icons{
    width: 85px;
    height: 85px;
    padding: 10px;
}
.service__title{
    font-size: $h3-font-size;
    margin-bottom: $mb-2;
    color: $text-color;
}
.service__descritpion{
    color: $text-color-dark;
}

@media screen and (max-width: 992px) {
    // .service{
    //     height: 300vh;
    // }
    .service__container{
        grid-template-columns: repeat(2, 270px);
    }

}

@media screen and (max-width: 768px) {
    // .service{
    //     height: 300vh;
    // }
    .service__container{
        grid-template-columns: 1fr;
    }
}