.service{
    // background-image: url('../assets/paper.webp');
    // background-size: cover;
    // background-repeat: no-repeat;
    // background-attachment: fixed;
    // background-size: 100% 100%;
    height: 90vh;
}

.ico__circle {
    height: 80px;
    width: 80px;
    font-size: 2rem;
    border-radius: 50%;
    line-height: 3.75;
    margin: 10px auto;
    text-align: center;
    box-shadow: 0 0 0 10px $title-color;
    display: block;
}
.service__container{
    grid-template-columns: repeat(3, 350px);
    justify-content: center;
    gap: 3rem;
    

}
.service__content{
    text-align: center;
    background-color: $white-color;
    border-radius: 10px;
    padding: 10px 15px;
}

.service__icons{
    font-size: 4rem;
    padding: 10px;
    // margin-bottom: $mb-1;
    color: $text-color;
}
.service__title{
    font-size: $h3-font-size;
    margin-bottom: $mb-2;
}

@media screen and (max-width: 992px) {
    .service{
        height: 120vh;
    }
    .service__container{
        grid-template-columns: repeat(2, 270px);
    }

}

@media screen and (max-width: 768px) {
    .service{
        height: 150vh;
    }
    .service__container{
        grid-template-columns: 1fr;
    }
}