/*Google fonst*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
/*variables scss*/
/*Colors*/
/*Font*/
/*Font weight*/
/*Margins*/
/*z index*/
/*Responsive*/
.header {
  width: 100%;
  position: fixed;
  top: -5px !important;
  left: 0;
  z-index: 100;
}

.scroll-header {
  background-color: #0C1B2D;
}

.nav {
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1rem;
  color: #fff;
}
.nav__logo, .nav__toggle {
  color: #fff;
  font-weight: 600;
  font-size: 1.25rem;
}
.nav__logo-img {
  width: 150px;
  height: 50px;
}
.nav__list {
  display: flex;
  column-gap: 2rem;
  color: #fff;
}
.nav__item {
  color: #fff;
}
.nav__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.25rem;
  color: #fff;
  transition: 0.3s;
}
.nav__close, .nav__toggle {
  display: none;
}

/*Active link*/
.active-link,
.nav__link:hover {
  color: #fff;
  position: relative;
}

.active-link::before {
  content: "";
  position: absolute;
  bottom: -0.55rem;
  width: 100%;
  height: 0.3rem;
  background-color: #fff;
}

@media screen and (max-width: 768px) {
  .header {
    top: initial;
  }
  .nav {
    height: 5rem;
  }
  .nav__menu {
    position: fixed;
    background-color: #0C1B2D;
    color: #fff;
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    padding: 4rem 0 0 3rem;
    z-index: 100;
    transition: 0.4s;
  }
  .nav__list {
    flex-direction: column;
    row-gap: 1.5rem;
    align-items: flex-start;
  }
  .nav__link {
    color: #fff;
  }
  .nav__close {
    font-size: 1.2rem;
    position: absolute;
    top: 1rem;
    right: 1.25rem;
    cursor: pointer;
    color: #fff;
  }
  .nav__close, .nav__toggle {
    display: block;
  }
  /*show menu*/
  .show-menu {
    right: 0;
  }
}
.nav__item {
  color: white;
}

.home {
  background: linear-gradient(to right, rgba(13, 17, 23, 0.8), rgba(0, 113, 252, 0.1)), url("../assests/hero-bg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
}
@media screen and (max-width: 768px) {
  .home {
    background-attachment: inherit;
    height: 80vh;
  }
}
.home__content {
  align-items: center;
  text-align: center;
}
.home__title {
  font-size: 100px;
  margin: 1rem 0;
  color: #fff;
}
.home__title-stroke {
  -webkit-text-fill-color: rgba(13, 17, 23, 0); /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}
.home__subtitle {
  position: relative;
  font-size: 1.25rem;
  font-weight: 400;
  margin-bottom: 2rem;
  color: hsl(216, 28%, 7%);
}

@media screen and (max-width: 768px) {
  .home {
    background-size: cover;
  }
  .home__content {
    padding-top: 2rem;
  }
  .home__title {
    font-size: 4.5rem;
  }
}
.about__container {
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  column-gap: 4rem;
  margin-top: 2rem;
}
@media screen and (max-width: 992px) {
  .about__container {
    grid-template-columns: 1fr;
    row-gap: 2.5rem;
    text-align: center;
  }
}
.about__img {
  justify-self: center;
  width: 300px;
  height: 300px;
  animation: rotated_circle 25s infinite;
}
@media screen and (max-width: 768px) {
  .about__img {
    width: 200px;
    height: 200px;
    margin-bottom: 3rem;
  }
}
.about__title {
  margin-bottom: 1rem;
  color: #fff;
}
@media screen and (max-width: 992px) {
  .about__title {
    margin-bottom: 2rem;
    text-align: left;
  }
}
.about__subtitle {
  font-size: 1.25rem;
  margin-bottom: 0.2rem;
  font-weight: bold;
}
.about__descritpion {
  margin-bottom: 2rem;
  text-align: justify;
  color: #8a8a8f;
  font-size: 16px;
}
@media screen and (max-width: 992px) {
  .about__descritpion {
    text-align: left;
    padding: 0;
    margin-bottom: 2rem;
  }
}
.about__data-icon-button-shape {
  height: 80px;
  width: 2px;
  background: linear-gradient(180deg, rgb(0, 113, 252) 0%, rgba(255, 255, 255, 0) 100%);
}
@media screen and (max-width: 768px) {
  .about__data-icon-button-shape {
    height: 110px;
  }
}
.about__data-info {
  display: flex;
  gap: 1rem;
}
.about__data-info-left {
  font-size: 1.5rem;
  color: rgb(0, 113, 252);
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 30px;
  gap: 1rem;
}

@keyframes rotated_circle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
.service__container {
  grid-template-columns: repeat(3, 20rem);
  justify-content: center;
  gap: 3rem;
  margin-top: 4rem;
}

.service__content {
  text-align: center;
  background-color: #0C1B2D;
  padding: 10px 15px;
}

.service__icons {
  width: 85px;
  height: 85px;
  padding: 10px;
}

.service__title {
  font-size: 1.25rem;
  margin-bottom: 2rem;
  color: #fff;
}

.service__descritpion {
  color: #8a8a8f;
}

@media screen and (max-width: 992px) {
  .service__container {
    grid-template-columns: repeat(2, 270px);
  }
}
@media screen and (max-width: 768px) {
  .service__container {
    grid-template-columns: 1fr;
  }
}
.counter {
  background-color: #8a8a8f;
  padding-top: 4rem;
}

.counter__container {
  grid-template-columns: repeat(3, 350px);
  justify-content: center;
  gap: 3rem;
}

.counter__content {
  text-align: center;
  border-radius: 10px;
  padding: 10px 15px;
}

.counter__icons {
  font-size: 4rem;
  padding: 10px;
  color: #fff;
}

.ico__circle {
  height: 80px;
  width: 80px;
  font-size: 2rem;
  border-radius: 50%;
  line-height: 3.75;
  margin: 15px auto;
  text-align: center;
  box-shadow: 0 0 0 10px rgb(0, 113, 252);
  display: block;
  cursor: pointer;
  color: #1e1e1e;
}

.ico__circle:hover {
  background-color: rgb(0, 113, 252);
  color: white;
  box-shadow: 0 0 0 10px hsl(197, 100%, 31%);
  transition: all 500ms ease;
}

.ico__circle:hover .counter__icons {
  color: white;
  animation: shake 0.5s;
}

@keyframes shake {
  10% {
    transform: rotate(15deg);
  }
  20% {
    transform: rotate(50deg);
  }
  30% {
    transform: rotate(80deg);
  }
  40% {
    transform: rotate(110deg);
  }
  50% {
    transform: rotate(140deg);
  }
  60% {
    transform: rotate(180deg);
  }
  70% {
    transform: rotate(250deg);
  }
  90% {
    transform: rotate(300deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.counter__title {
  font-size: 2.25rem;
}

.counter__descritpion {
  color: #fff;
  font-size: 1.25rem;
}

@media screen and (max-width: 768px) {
  .counter__container {
    grid-template-columns: 1fr;
    height: auto;
  }
}
.projects__container {
  grid-template-columns: repeat(2, 500px);
  justify-content: center;
  gap: 3rem;
}
.projects__content {
  margin-top: 4rem;
  text-align: center;
  border-radius: 0.2rem;
  padding: 10px 15px;
}
@media screen and (max-width: 768px) {
  .projects__content {
    border-bottom: 2px solid #0C1B2D;
  }
}
.projects__title {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  color: #fff;
}
.projects__tools {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
.projects__tools-text {
  padding: 0 1rem;
}
.projects__descritpion {
  margin-bottom: 1rem;
  color: #8a8a8f;
}

.button__read-more {
  outline: none;
  -webkit-box-align: center;
  background-color: transparent;
  align-items: center;
  display: inline-flex;
  text-decoration: underline;
  text-transform: capitalize;
  text-underline-position: under;
  text-align: center;
  color: #fff;
  background-color: transparent;
  position: relative;
  gap: 0.3rem;
}

@media screen and (max-width: 992px) {
  .projects__container {
    grid-template-columns: repeat(2, 270px);
  }
}
@media screen and (max-width: 768px) {
  .projects__container {
    grid-template-columns: 1fr;
  }
}
.process {
  background: linear-gradient(to right, rgba(13, 17, 23, 0.8), rgba(0, 113, 252, 0.1)), url("../assests/circle-lines.png");
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (max-width: 768px) {
  .process {
    background-attachment: inherit;
  }
}
.process__container {
  margin-top: 3rem;
}
.process__icons {
  width: 65px;
  height: 65px;
  margin-bottom: 1rem;
}
.process__title {
  display: inline;
  color: #fff;
}
.process__descritpion {
  color: #8a8a8f;
  margin-top: 1rem;
}

.process__container {
  grid-template-columns: repeat(3, 350px);
  justify-content: center;
  gap: 3rem;
}

.process__content {
  padding: 10px 15px;
}

@media screen and (max-width: 992px) {
  .process__container {
    grid-template-columns: repeat(2, 270px);
  }
}
@media screen and (max-width: 768px) {
  .process__container {
    grid-template-columns: 1fr;
  }
}
.banner__text {
  line-height: 1;
  font-size: 230px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  display: flex;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
}
.banner__text h1 {
  padding-left: 100%;
  color: #fff;
  animation: marquee 15s linear infinite;
}
@media screen and (max-width: 1200px) {
  .banner__text h1 {
    font-size: 150px;
  }
}
@media screen and (max-width: 992px) {
  .banner__text h1 {
    font-size: 100px;
  }
}
@media screen and (max-width: 768px) {
  .banner__text h1 {
    font-size: 80px;
  }
}
.banner__text > h1 span {
  opacity: 0.2;
  color: transparent;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: white;
}

@keyframes marquee {
  100% {
    transform: translate(-100%, 0);
  }
}
.contact__container {
  grid-template-columns: repeat(1, max-content);
  justify-content: center;
  padding-bottom: 3rem;
  margin-top: 3rem;
}
@media screen and (max-width: 992px) {
  .contact__container {
    column-gap: 3rem;
  }
}
@media screen and (max-width: 768px) {
  .contact__container {
    grid-template-columns: 1fr;
    row-gap: 3rem;
  }
}
.contact__content {
  width: 60rem;
  padding: 5rem;
  background-color: #0C1B2D;
  background-image: url("/src/assests/contact-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 768px) {
  .contact__content {
    margin: 2rem auto;
    padding: 0.5rem 1.5rem;
  }
}
@media screen and (max-width: 576px) {
  .contact__content {
    width: 100%;
  }
}
.contact__form {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .contact__form {
    margin: 2rem auto;
  }
}
@media screen and (max-width: 576px) {
  .contact__form {
    width: 100%;
  }
}
.contact__form-div {
  position: relative;
  margin-bottom: 2rem;
  height: 4rem;
}
.contact__form-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  border-bottom: 1px solid rgb(0, 113, 252);
  background: none;
  color: #fff;
  outline: none;
  padding: 1.5rem;
  z-index: 1;
}
.contact__form-area {
  height: 11rem;
}
.contact__form-area textarea {
  resize: none;
}

.footer {
  border-top: 1px solid rgb(0, 113, 252);
  background-image: url("/src/assests/footer-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 768px) {
  .footer {
    padding-bottom: 0 !important;
  }
}

.footer__content {
  display: flex;
  color: #010103;
  justify-content: space-between;
  gap: 3rem;
  text-align: left;
  color: #fff;
}
@media (max-width: 768px) {
  .footer__content {
    gap: 0;
  }
}
@media (max-width: 992px) {
  .footer__content {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .footer__content {
    flex-direction: column;
  }
}
.footer__content-1 li:nth-child(1) {
  width: 130px;
  margin-bottom: 1rem;
}
.footer__content-2 li:nth-child(1) {
  font-size: 1.5rem;
  font-weight: 500;
  color: #fff;
  margin-bottom: 1.5rem;
}
.footer__content-2 li:nth-child(2), .footer__content-2 li:nth-child(3), .footer__content-2 li:nth-child(4), .footer__content-2 li:nth-child(5) {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  align-items: center;
  margin-bottom: 1.5rem;
  color: #8a8a8f;
}
@media (max-width: 768px) {
  .footer__content-2 li:nth-child(2), .footer__content-2 li:nth-child(3), .footer__content-2 li:nth-child(4), .footer__content-2 li:nth-child(5) {
    width: 100%;
    margin: 2rem auto;
  }
}
.footer__content-2_icons {
  font-size: 1.5rem;
  color: rgb(0, 113, 252);
  width: 20px;
}
.footer__content-2_link {
  color: rgb(0, 113, 252);
}

.copyright-text {
  text-align: center;
  margin-top: 1.5rem;
  color: #8a8a8f;
  font-size: 0.7rem;
}

/*Base*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}

body {
  background-color: hsl(216, 28%, 7%);
  color: #fff;
}

h1,
h2,
h3 {
  color: rgb(0, 113, 252);
  font-weight: 600;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*css classes*/
.section {
  padding: 6rem 0 2rem;
}

.section__title {
  font-size: 2.25rem;
  letter-spacing: 0.2rem;
  color: #fff;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
}

.section__title::before {
  content: "";
  width: 36px;
  height: 28px;
  margin-right: 10px;
  background: url(../assests/arrow.png) no-repeat 100% 100%;
}

.section__subtitle {
  display: block;
  font-size: 0.8rem;
  margin-bottom: 4rem;
  color: rgb(0, 113, 252);
}

.section__title,
.section__subtitle {
  text-align: center;
}

/*Layout*/
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

/*Buttons*/
.button {
  display: inline-block;
  border: none;
  color: #fff;
  padding: 1rem 5rem;
  font-weight: 500;
  background-color: transparent;
  position: relative;
}

.button::after,
.button::before {
  position: absolute;
  width: 53px;
  height: 43px;
  content: "";
}

.button::before {
  left: 0;
  top: 0;
  border-left: 4px solid rgb(0, 113, 252);
  border-top: 4px solid rgb(0, 113, 252);
}

.button::after {
  right: 0;
  bottom: 0;
  border-right: 4px solid rgb(0, 113, 252);
  border-bottom: 4px solid rgb(0, 113, 252);
}

.button:hover {
  background-color: rgb(0, 113, 252);
}

.button__icon {
  margin-left: 0.2rem;
}

.button--flex {
  display: inline-flex;
  align-items: center;
}

@media screen and (max-width: 992px) {
  .container {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  .button {
    padding: 1rem 1.75rem;
  }
  .section {
    padding: 5rem 0 4rem;
  }
}
@media screen and (max-width: 768px) {
  body {
    margin: 0 0 4.5rem 0;
  }
  .button::after,
  .button::before {
    width: 43px;
    height: 33px;
  }
  .section__subtitle {
    margin-bottom: 3rem;
  }
}
@media screen and (max-width: 350px) {
  .container {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}